/* Material Symbols font optimization - prevent flash of unstyled text */
@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v211/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhQcyWwg.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

body {
  max-width: 100%;
}

html {
  font-family: sans-serif;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

footer {
  background: #212529;
  color: white;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.green-score {
  color: rgb(158, 206, 106) !important;
}

.red-score {
  color: rgb(247, 118, 142) !important;
}

a {
  color: var(--v-theme-primary);
}

a:hover {
  color: #d65d03;
}

a:visited {
  color: #53514f;
}

@media (min-width: 769px) {
  .v-data-table-header th,
  .v-data-table__td,
  .v-data-footer {
    font-size: 1.2rem;
  }
}
