body {
  max-width: 100%;
}

html {
  font-family: sans-serif;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #96ada5; /**/
}
a:visited {
  color: #53514f; /**/
}
a:hover {
  color: #d65d03; /**/
}

footer {
  background: #212529;
  color: white;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.green-score {
  color: rgb(22, 120, 63) !important;
}

.red-score {
  color: rgb(175, 21, 21) !important;
}
